<!-- templates/users_show.html -->
{% extends 'base.html' %}

{% block content %}
<a href='/users_new' method='GET'></a>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <p> {{ user.jpg }}
            {{ user.username }}
            {{ user.gender }}
            {{ user.gender_seeking }}
            {{ user.relationship_type }}
            {{ user.bio }}
            
        <p><a href='/users/{{ user._id }}'>Edit</a></p>
        <p>
            <form method='GET' action='/users/{{ user._id }}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form></p>
    <hr>
    

   <hr>

  

 </div>
</div>
{% endblock %}